<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {{ '//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' | script_tag }}
        {{ '//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' | stylesheet_tag }}
        {{ '//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-theme.min.css' | stylesheet_tag }}
        {% if is_post %}
          <title>{{ title }}</title>
        {% else %}
       	  <title>sikinmettugi's Personal Blog</title>
        {% endif %}
    </head>
    <body>
    <div>
      {% if is_post %}
        {% include '_layouts/post.liquid' %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </body>
</html>
